.addButtons{
    display: flex;
    padding: 20px;
    padding-bottom: 0;
    button{
        margin-right: 10px;
    }
}
#add-expense, #add-categorie{
    &-toggler{
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#add-expense, #add-categorie{
    background: white;
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    top: 0;
    transition-duration: .4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: column;
        div{
            display: flex;
            flex-direction: column;
        }
    }
    .close_button{
        position: absolute;
        top: 0;
        right: 20px;
    }
}
#add-expense{
    box-shadow: 3px 0px 12px 2px rgba(0, 0, 0, .05);
    left: 0;
    &-toggler{
        color: $blue_dark;
    }
}

#add-categorie{
    right: 0;
    box-shadow: -3px 0px 12px 2px rgba(0, 0, 0, .05);
    &-toggler{
        color: $orange_dark;
        background: $orange_light;
        border-color: $orange_dark;
    }
}

.add-expense{
    &--close{
        transform: translateX(-100%);
    }
    &--open{
        transform: translateX(0);
    }
}

.add-categorie{
    &--close{
        transform: translateX(100%);
    }
    &--open{
        transform: translateX(0);
    }
}