
<div id="add-categorie" class="add-categorie--close">
    <button class="close_button">Fermer</button>
    <h1>Ajouter une catégorie</h1>
    {{ form_start(newCategorieForm) }}
        {{ form_row(newCategorieForm.name, {
            label: 'Nom de la catégorie'
        }) }}
        <button type="submit" class="btn">Ajouter</button>
    {{ form_end(newCategorieForm) }}
</div>